<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d194fa4d8cf296cbe1c0783cec2dd197 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_d194fa4d8cf296cbe1c0783cec2dd197" ></div>
        
</body>
<script>
    
    
            var map_d194fa4d8cf296cbe1c0783cec2dd197 = L.map(
                "map_d194fa4d8cf296cbe1c0783cec2dd197",
                {
                    center: [-14.899281285714284, -60.02466528571428],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 4,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_81e98aee6d7a27fda6677b2086c1f9b0 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_81e98aee6d7a27fda6677b2086c1f9b0.addTo(map_d194fa4d8cf296cbe1c0783cec2dd197);
        
    
            var marker_908783f14eccd972c8b9f057e1f9726e = L.marker(
                [-34.891151, -56.187214],
                {
}
            ).addTo(map_d194fa4d8cf296cbe1c0783cec2dd197);
        
    
        var popup_c305bdb94d9574dd72ea7fefba791acd = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_b6cfce5f565d3f9498b6606b7e41c57c = $(`<div id="html_b6cfce5f565d3f9498b6606b7e41c57c" style="width: 100.0%; height: 100.0%;">            <div style='width: 200px'>                <b>Region:</b> South America<br>                <b>Country:</b> Uruguay<br>                <b>Groups:</b> 0<br>                <b>Strategies:</b> 0<br>                <b>Similarity Score:</b> 0%            </div>        </div>`)[0];
                popup_c305bdb94d9574dd72ea7fefba791acd.setContent(html_b6cfce5f565d3f9498b6606b7e41c57c);
            
        

        marker_908783f14eccd972c8b9f057e1f9726e.bindPopup(popup_c305bdb94d9574dd72ea7fefba791acd)
        ;

        
    
    
            marker_908783f14eccd972c8b9f057e1f9726e.bindTooltip(
                `<div>
                     Uruguay - Click for details
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_79859f2c89a5d1e982f8ed75bc2d5ff1 = L.marker(
                [10.063506, -69.334722],
                {
}
            ).addTo(map_d194fa4d8cf296cbe1c0783cec2dd197);
        
    
        var popup_dc962283bdc3a363b6fbfdfcb10377c5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d7334c114fae9e266159faa15ab07ce7 = $(`<div id="html_d7334c114fae9e266159faa15ab07ce7" style="width: 100.0%; height: 100.0%;">            <div style='width: 200px'>                <b>Region:</b> South America<br>                <b>Country:</b> Venezuela<br>                <b>Groups:</b> 0<br>                <b>Strategies:</b> 0<br>                <b>Similarity Score:</b> 0%            </div>        </div>`)[0];
                popup_dc962283bdc3a363b6fbfdfcb10377c5.setContent(html_d7334c114fae9e266159faa15ab07ce7);
            
        

        marker_79859f2c89a5d1e982f8ed75bc2d5ff1.bindPopup(popup_dc962283bdc3a363b6fbfdfcb10377c5)
        ;

        
    
    
            marker_79859f2c89a5d1e982f8ed75bc2d5ff1.bindTooltip(
                `<div>
                     Venezuela - Click for details
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_c6234c3f994b52052777332bbb980118 = L.marker(
                [-34.68631, -58.528473],
                {
}
            ).addTo(map_d194fa4d8cf296cbe1c0783cec2dd197);
        
    
        var popup_bb832a087b28ecdd918326950197afe3 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_78609dc2e2455f235d666c25a3abd1b8 = $(`<div id="html_78609dc2e2455f235d666c25a3abd1b8" style="width: 100.0%; height: 100.0%;">            <div style='width: 200px'>                <b>Region:</b> South America<br>                <b>Country:</b> Argentina<br>                <b>Groups:</b> 0<br>                <b>Strategies:</b> 0<br>                <b>Similarity Score:</b> 0%            </div>        </div>`)[0];
                popup_bb832a087b28ecdd918326950197afe3.setContent(html_78609dc2e2455f235d666c25a3abd1b8);
            
        

        marker_c6234c3f994b52052777332bbb980118.bindPopup(popup_bb832a087b28ecdd918326950197afe3)
        ;

        
    
    
            marker_c6234c3f994b52052777332bbb980118.bindTooltip(
                `<div>
                     Argentina - Click for details
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_b7bf3e37b0f08b3ae882ccd728044f11 = L.marker(
                [-8.048021, -34.876338],
                {
}
            ).addTo(map_d194fa4d8cf296cbe1c0783cec2dd197);
        
    
        var popup_3e7c4e3f2dc7220997ea687b493c55db = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_41523b9cc3b9c7e32c27912bea04e504 = $(`<div id="html_41523b9cc3b9c7e32c27912bea04e504" style="width: 100.0%; height: 100.0%;">            <div style='width: 200px'>                <b>Region:</b> South America<br>                <b>Country:</b> Brazil<br>                <b>Groups:</b> 0<br>                <b>Strategies:</b> 0<br>                <b>Similarity Score:</b> 0%            </div>        </div>`)[0];
                popup_3e7c4e3f2dc7220997ea687b493c55db.setContent(html_41523b9cc3b9c7e32c27912bea04e504);
            
        

        marker_b7bf3e37b0f08b3ae882ccd728044f11.bindPopup(popup_3e7c4e3f2dc7220997ea687b493c55db)
        ;

        
    
    
            marker_b7bf3e37b0f08b3ae882ccd728044f11.bindTooltip(
                `<div>
                     Brazil - Click for details
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_4b71c30cf9c5b72deecb1f8b819e1923 = L.marker(
                [-25.282773, -57.63561],
                {
}
            ).addTo(map_d194fa4d8cf296cbe1c0783cec2dd197);
        
    
        var popup_7074e471cabb74f7a8aa147477a82daa = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_3ff8c2bf1af9c1aa302d9a50387db621 = $(`<div id="html_3ff8c2bf1af9c1aa302d9a50387db621" style="width: 100.0%; height: 100.0%;">            <div style='width: 200px'>                <b>Region:</b> South America<br>                <b>Country:</b> Paraguay<br>                <b>Groups:</b> 0<br>                <b>Strategies:</b> 0<br>                <b>Similarity Score:</b> 0%            </div>        </div>`)[0];
                popup_7074e471cabb74f7a8aa147477a82daa.setContent(html_3ff8c2bf1af9c1aa302d9a50387db621);
            
        

        marker_4b71c30cf9c5b72deecb1f8b819e1923.bindPopup(popup_7074e471cabb74f7a8aa147477a82daa)
        ;

        
    
    
            marker_4b71c30cf9c5b72deecb1f8b819e1923.bindTooltip(
                `<div>
                     Paraguay - Click for details
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_542fe1cdf43166630291e0f09eb4a444 = L.marker(
                [-16.509317, -68.10434],
                {
}
            ).addTo(map_d194fa4d8cf296cbe1c0783cec2dd197);
        
    
        var popup_31af6a8e7f7e9386b5c47a6e2367de08 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_80949eae767c049b354d263f8507abdc = $(`<div id="html_80949eae767c049b354d263f8507abdc" style="width: 100.0%; height: 100.0%;">            <div style='width: 200px'>                <b>Region:</b> South America<br>                <b>Country:</b> Bolivia<br>                <b>Groups:</b> 0<br>                <b>Strategies:</b> 0<br>                <b>Similarity Score:</b> 0%            </div>        </div>`)[0];
                popup_31af6a8e7f7e9386b5c47a6e2367de08.setContent(html_80949eae767c049b354d263f8507abdc);
            
        

        marker_542fe1cdf43166630291e0f09eb4a444.bindPopup(popup_31af6a8e7f7e9386b5c47a6e2367de08)
        ;

        
    
    
            marker_542fe1cdf43166630291e0f09eb4a444.bindTooltip(
                `<div>
                     Bolivia - Click for details
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_0eb3af6da3ce8d32f97d03febb6b26a2 = L.marker(
                [5.059097, -75.50596],
                {
}
            ).addTo(map_d194fa4d8cf296cbe1c0783cec2dd197);
        
    
        var popup_450735acb480792cfd6901df2d5d4395 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_aaeb81d35c947b47c8514423b284b8bc = $(`<div id="html_aaeb81d35c947b47c8514423b284b8bc" style="width: 100.0%; height: 100.0%;">            <div style='width: 200px'>                <b>Region:</b> South America<br>                <b>Country:</b> Colombia<br>                <b>Groups:</b> 0<br>                <b>Strategies:</b> 0<br>                <b>Similarity Score:</b> 0%            </div>        </div>`)[0];
                popup_450735acb480792cfd6901df2d5d4395.setContent(html_aaeb81d35c947b47c8514423b284b8bc);
            
        

        marker_0eb3af6da3ce8d32f97d03febb6b26a2.bindPopup(popup_450735acb480792cfd6901df2d5d4395)
        ;

        
    
    
            marker_0eb3af6da3ce8d32f97d03febb6b26a2.bindTooltip(
                `<div>
                     Colombia - Click for details
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>